<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.cloudName" @keyup.enter="query" placeholder="云端配置名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("device:hilens:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("device:hilens:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("device:hilens:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
			<#if shiro.hasPermission("device:hilens:export")>
				<a class="btn btn-primary" @click="exp"><i class="fa fa-trash-o"></i>&nbsp;导出</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">Hilens IP 地址</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="hilens.ip" placeholder="Hilens盒子IP地址" minlength="0" maxlength="20"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">所属门店</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" style="cursor:pointer;" v-model="hilens.storeId" @click="deptTree" readonly="readonly" placeholder="所属门店名称"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">云端服务配置</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="hilens.cloudName" placeholder="云端服务配置" minlength="0" maxlength="20"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">版本</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="hilens.version" placeholder="版本，字符长度不能大于10" maxlength="10"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">登录用户</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="hilens.loginUser" placeholder="登录用户，字符长度不能大于20" minlength="0" maxlength="20"/>
				</div>
			</div>
<!--			<div class="form-group">-->
<!--				<div class="col-sm-2 control-label">登录密码</div>-->
<!--				<div class="col-sm-10">-->
<!--					<input type="text" class="form-control" v-model="hilens.loginPassword" placeholder="登录密码，字符长度不能大于20" minlength="0" maxlength="20"/>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="form-group">-->
<!--				<div class="col-sm-2 control-label">所属部门</div>-->
<!--				<div class="col-sm-10">-->
<!--					<input type="text" class="form-control" style="cursor:pointer;" v-model="hilens.deptName" @click="deptTree1" readonly="readonly" placeholder="所属部门"/>-->
<!--				</div>-->
<!--			</div>-->
			<div class="form-group">
				<div class="col-sm-2 control-label">状态</div>
				<label class="radio-inline">
					<input type="radio" name="status" value="1" v-model="hilens.status"/> 正常
				</label>
				<label class="radio-inline">
				<input type="radio" name="status" value="0" v-model="hilens.status"/> 未连接
			</label>
				<label class="radio-inline">
					<input type="radio" name="status" value="-1" v-model="hilens.status"/> 运行失败
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<select id="store"></select>
</div>
<!-- 选择部门 -->
<div id="deptLayer1" style="display: none;padding:10px;">
	<ul id="deptTree1" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/device/hilens.js?_${.now?long}"></script>
</body>
</html>