<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售顾问管理</title>
    <#include "/header.html">
    <!--<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jquery-tags-input/jquery.tagsinput.min.css">-->
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css" media="all">
    <style>
        .label-info{
            cursor: pointer;
        }
        select{
            width: 50%;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn row">
            <div class="form-group col-sm-2">
                <span>店员:</span>
                <input type="text" class="form-control" v-model="q.name" placeholder="店员">
            </div>
            <div class="form-group col-sm-2">
                <span>所在门店:</span>
                <!--<select class="form-control bs-select" v-model="q.deptId" onclick="getDeptInfo(this)">
                </select>-->
                <select class="form-control bs-select" title="请选择" v-model="q.deptId">
                    <option>请选择</option>
                    <option v-for="item in ops" :value="item.id">{{ item.storeName}}</option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <span>状态:</span>
                <select class="form-control selectpicker" v-model="q.dutyStatus" title="状态">
                    <option value="0">离线</option>
                    <option value="1">忙碌</option>
                    <option value="2">在线</option>
                </select>
            </div>
      </div>
      <div class="row" style="padding-bottom:8px;">
              <a class="btn btn-default" @click="query">查询</a>
              <#if shiro.hasPermission("sys:role:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
              </#if>
              <#if shiro.hasPermission("sys:role:delete")>
                 <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
              </#if>
      </div>
      <table id="jqGrid"></table>
      <div id="jqGridPager"></div>
    </div>


    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}<button type="button" class="close" aria-hidden="true" @click="reload">×</button></div>
           <div class="row">
               <div class="col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">
                                <!--<button class="btn btn-sm btn-primary">人脸识别</button>-->
                                <input class="btn btn-sm btn-primary" @click="getBase64" type="button" value="人脸识别"/>
                            </div>
                            <div class="col-sm-10">
                                <label>
                                    <!--<input type="checkbox" checked="checked">-->
                                    <img :src="staff.headUrl" style="width: 100px;height: 100px;float:left;display:block;border-radius:49px;">
                                    <input type="file" id="img" name="headUrl" onchange="uploadImg()">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" v-model="staff.id" placeholder="id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">员工编号</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="staff.staffId" placeholder="员工编号"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">员工姓名</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="staff.name" placeholder="员工姓名"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">性别</div>
                            <div class="col-sm-10">
                                <select class="form-control bs-select" title="性别" v-model="staff.sex">
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">是否在职</div>
                            <div class="col-sm-10">
                                <select class="form-control bs-select" title="是否在职" v-model="staff.postStatus">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">所在门店</div>
                            <div class="col-sm-10">
                                <select class="form-control bs-select" title="请选择" v-model="staff.deptId">
                                    <option>请选择</option>
                                    <option v-for="item in ops" :value="item.id">{{ item.storeName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">人员类型</div>
                            <div class="col-sm-10">
                                <select class="form-control bs-select" title="请选择" v-model="staff.staffType">
                                    <option value="1">销售顾问</option>
                                    <option value="0">其它</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">状态</div>
                            <div class="col-sm-10">
                                <select class="form-control bs-select" title="请选择" v-model="staff.dutyStatus">
                                    <option value="0">离线</option>
                                    <option value="1">忙碌</option>
                                    <option value="2">在线</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">
                                <label>
                                    <input type="checkbox" v-model="staff.flag" id="staff_flag">
                                </label>
                            </div>
                            <div class="col-sm-10">
                                <label for="staff_flag">销售冠军</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">标签</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="personLabels" placeholder="标签" value="" v-model="staff.personLabels"/>
                                <input type="hidden" v-model="staff.personLabels"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label"></div>
                            <div class="col-sm-10">
                                <span class="label label-info">#领克01#</span>
                                <span class="label label-info">#领克02#</span>
                                <span class="label label-info">#领克03#</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">被关注数(基础数值)</div>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" v-model="staff.facoriteCount" placeholder="被关注数(基础数值)" maxlength="10"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">服务人数(基础数值)</div>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" v-model="staff.servedCount" placeholder="服务人数(基础数值)" maxlength="10"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">二维码链接</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="staff.qrcode" placeholder="二维码链接"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label">个人宣言</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="staff.motto" placeholder="个人宣言"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="col-sm-2 control-label">推荐车型</div>
                            <div class="col-sm-10">
                                <!--<select class="form-control bs-select" title="请选择" v-model="staff.labels">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="03+">03+</option>
                                    <option value="PHEV">PHEV</option>
                                </select>-->
                                <input type="text" class="form-control" v-model="staff.labels" placeholder="推荐车型"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <input type="button" class="btn btn-primary" @click="execUpdate" value="确定"/>
                        &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                    </div>
                <!--<div class="col-sm-4">
                    <button type="button" class="layui-btn" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>-->
                </form>
               </div>
               <!--图片-->
               <!--<div class="col-sm-4">
                   <img :src="detailHeadUrl" style="width: 100px;height: 100px;border-radius:49px;">
                   <input type="file" id="img" name="headUrl" onchange="uploadImg()">
               </div>-->
           </div>
    </div>
</div>
<!--<script src="${request.contextPath}/statics/js/modules/staff/consultant.js?_${.now?long}"></script>-->
<script src="${request.contextPath}/statics/js/modules/staff/consultant.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/plugins/layui/layui.js"></script>
</body>
</html>