<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juxi.lingshibang.admin.mapper.CategoryMapper">

    <select id="queryByParentId" resultType="com.juxi.lingshibang.admin.entity.Category">
        select * from tb_category where parent_id = #{parentId}
    </select>
</mapper>
