<!DOCTYPE html>
<html>
<head>
	<title>管理员列表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.dealerName" @keyup.enter="query" placeholder="经销商名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("dealer:dealer:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
		</#if>
		<#if shiro.hasPermission("dealer:dealer:update")>
		<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
	</#if>
	<#if shiro.hasPermission("dealer:dealer:delete")>
	<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-2 control-label">经销商编码</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" maxlength="10" v-model="dealer.dealerCode" placeholder="经销商编码，字符长度不能大于10，必填"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">经销商名称</div>
			<div class="col-sm-10">
				<input type="text" class="form-control"  maxlength="100" v-model="dealer.dealerName" placeholder="经销商名称，字符长度不能大于100，必填"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">大区名称</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" style="cursor:pointer;" v-model="dealer.areaCode" @click="areaTree" readonly="readonly" placeholder="所属大区，必选"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">部门名称</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" style="cursor:pointer;" v-model="dealer.deptId" @click="deptTree" readonly="readonly" placeholder="所属部门，必选"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">状态</div>
			<label class="radio-inline">
				<input type="radio" name="status" value="0" v-model="dealer.status"/> 已下线
			</label>
			<label class="radio-inline">
				<input type="radio" name="status" value="1" v-model="dealer.status"/> 正常
			</label>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div>
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
		</div>
	</form>
</div>
</div>
<!--选择所属的大区-->
<div id="areaLayer" style="display: none;padding:10px;">
	<select id="area"></select>
</div>
<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/dealer/dealer.js?_${.now?long}"></script>
</body>
</html>